@charset "utf-8";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.user {
	font-size: 10px;
	font-weight: normal;
}

.footer {
	height: calc(100vh - 100px);
	margin-bottom: 10px;
	padding: 0px 8px;
	background: #eee;
	text-align: center;
}

.ui-row-editor .ui-row-editor-pencil {
	margin-left: 8px;
}
.ui-g div {
	background-color: #ededed;
	text-align: center;
	border: 1px solid #fafafa;
}
 i {
        margin-right: 10px;
    }